/* Kỹ thuật tạo modal */
/* Phần chung khi tạo modal */

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    /* Can giua container modal */
    display: none;
    align-items: center;
    justify-content: center;
}
.modal.open {
    display: flex;
}

.modal-container {
    background-color: #fff;
    width: 900px;
    max-width: calc(100% - 32px);
    min-height: 200px;
    position: relative;
    animation: modalFadeIn ease 0.5s;
}

.modal-header {
    background-color: #009688;
    height: 130px;
    /* Thuc hien can giua */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
    letter-spacing: 4px;
}

.modal-heading-icon {
    margin-right: 16px;
}
.modal-close {
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    font-weight: 700;
    padding: 12px;
    cursor: pointer;
    opacity: 0.9;
}

.modal-close:hover{
    opacity: 0.8;
    background-color: red;
}

.modal-body {
    padding: 16px;
}
.modal-label {
    display: block;
    font-size: 15px;
    margin-bottom: 12px;
    font-style: oblique;
}

.modal-input {
    font-size: 15px;
    padding: 12px;
    border: 1px solid #ccc;
    width: 100%;
    margin-bottom: 24px;
}

#buy-tickets {
    background-color: #009688;
    border: none;
    color: #fff;
    width: 100%;
    text-transform: uppercase;
    padding: 12px;
    cursor: pointer;
}

#buy-tickets {
    opacity: 0.8;
}

.modal-footer {
    padding: 16px;
    text-align: right;
}

.modal-footer a {
    color: #2196f3;
    text-decoration: none;
}

@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: translateY(-150px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}