/* Bước 1. Reset CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: Arial, Helvetica, sans-serif;
}

#main {

}


/* Header */
#header {
    height: 46px;
    background-color: #333;
}

#nav, .subnav {
    list-style-type: none;
}

#nav > li{
    display: inline-block;
}

#nav li {
    /* display: inline-block; */
    position: relative;
}

#nav > li > a {
    /* Chọn thẻ con trực tiếp */
    color: #ffffff;  /*Thêm màu chữ*/
    text-transform: uppercase;
}

#nav li a {
    text-decoration: none; /*Bỏ thuộc tính gạch chân mặc định*/
    line-height: 46px; /*Căn giữa theo chiều dọc*/
    padding: 0 24px;
    display: block;
}

#nav li:hover .subnav{
    display: block;
}

#nav > li:hover > a {
    color: #000000;  /*Thêm màu chữ*/
    background-color: #ccc;
}

#nav .subnav {
    display: none;   /*Ẩn phần tử đi*/
    min-width: 160px;
    top: 100%;
    left: 0;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav .subnav a {
    color: #000000;
    padding: 0 12px;
}

#nav .subnav li:hover a {
    color: #000000;  /*Thêm màu chữ*/
    background-color: #ccc;
    line-height: 32px;
}


#slider {

}

#content {

}

#footer {

}
